@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");



@media (max-width: 900px) {
  .middle_aside {
    display: none;
  }
  .bottom_aside {
    display: none;
  }
  article h2 {
    display: none;
}
  .RRSS {
    display: none;
  }
  nav ul li  {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 900px) {
  nav ul li  {
    display: inline-block;
  }
  nav ul li a {
    width: 100%;
  }
}


:root {
  --andromeda: #e45480;
  --cisne: #ebf3fe;
  --dragon: #71d1ca;
  --fenix: #3b65c3;
  --pegaso: #b61f27;
  --color-primary: #58a0d5;
  --color-secondary: #fff542;
  --background-color: #000;
}
header {
  color: var(--color-primary);
}
body {
  background-color: var(--background-color);
  background-image: url(../img/fondo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav {
  background-color: var(--color-secondary);
  padding: 4px;
  margin: 1rem;
  width: 95%;
  border: 2px solid var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--color-primary);
  text-decoration: none;
}

nav li {
  margin: 0 1rem;
 
}

nav ul {
  padding: 0px;
}
nav ul li a {
  width: 100%;
}

nav li :hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}


section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

article {
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article h2
{
  font-size: 16px;
}

article.Andromeda h1 {
  color: var(--andromeda);
}

article.Andromeda h2 {
  color: var(--andromeda);
}

article.Cisne h1 {
  color: var(--cisne);
}

article.Cisne h2 {
  color: var(--cisne);
}

article.Dragon h1 {
  color: var(--dragon);
}

article.Dragon h2 {
  color: var(--dragon);
}

article.Fenix h1 {
  color: var(--fenix);
}

article.Fenix h2 {
  color: var(--fenix);
}

article.Pegaso h1 {
  color: var(--pegaso);
}

article.Pegaso h2 {
  color: var(--pegaso);
}

article p {
  color: var(--color-secondary);
}

aside {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin: 1rem;
}

aside h2 {
  color: var(--color-secondary);
}

aside p {
  color: var(--color-primary);
}

footer {
  background-color: var(--color-primary);
  padding: 4px;
  margin: 1rem;
  width: 95%;
  border: 2px solid var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: var(--color-secondary);
  text-decoration: none;
}

p.RRSS i {
  color: var(--color-secondary);
  padding: 5px;
}
